.header__inner{
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger__menu{
  width: 40px;
  margin-right: 40px;
  cursor: pointer;
  
  li{
    border-top: 2px solid white;
    padding-bottom: 3px;
  }
}
.header{
  &__left{
    display: flex;
    align-items: center;
  }
}
.header__right{
  &-img{
    margin-right: 40px;
  }
  &-img:last-child{
    margin-right: 0;
  }
}
.logo{
  margin-right: 150px;
}

@media screen and (max-width:1200px) {
 .logo{
  margin-right: 0;
 } 
 .burger__menu{
  margin-right: 0;
 }
}
@media screen and (max-width:840px) {
  .header__inner{
    flex-direction: row-reverse;
    padding-top: 25px;
  }
  .header__right{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    img{
      margin-right: 0;
      width: 24px;
      margin-bottom: 20px;
    }
  }
 }

 @media screen and (max-width:560px) {
    .logo{
      width: 50px;
    }
    .burger__menu{
      width: 30px;
    }
    .header__right{
      top: 60px;
      img{
        width: 18px;
      }
    }
 }
 @media screen and (max-width:360px) {
  .burger__menu{
    width: 25px;
  }
  .header__inner{
    padding-top: 18px;
  }
}