.menu{
    display: flex;
    align-items: center;
    position: relative;
    transition: all ease 1s;
    top: 0px;
    &__item a{
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-right: 23px;
        text-transform: uppercase
    };
    &__item a:hover{
        transition: all ease 0.3s;
        border-bottom: 3px solid #BA0000;
        padding-bottom: 3px;
    }
    .close{
        display: none;
    }
    
}
@media screen and (max-width:1200px) {
    .menu{
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100px;
        
        
    }
    .menu__item{
        margin-bottom: 20px;
        transform:translateX(-250px) ;
    }
    .menu__item a{
        margin-right: 0;
    }
}

@media screen and (max-width:840px) {
    .menu{
        background: rgba(0, 0, 0);
        top: -400px;
        left: 0;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
        &__item{
            transform:translateY(-400px) ;

        }
        .close{
            position: absolute;
            width: 15px;
            top: 10px;
            right: 20px;
            display: block;
        }
    }
}
@media screen and (max-width:375px) {
    .menu{
        background: rgba(0, 0, 0);
        top: -400px;
        left: 0;
        width: 100%;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
        &__item{
            transform:translateY(-400px) ;

        }
        &__item a{
            font-size: 14px;
            
        }
        .close{
            position: absolute;
            width: 12px;
            top: 15px;
            right: 15px;
            display: block;
        }
    }
}