@import "mixins";

* {
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

nav,
footer,
header,
aside {
	display: block;
}

html {
	opacity: 1;
	overflow-x: hidden;
}

html,
body {
	inline-size: 100%;
	block-size: 100%;
	min-inline-size: $min-width + px;
}

body {
	background: #000;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

input[type="number"] {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}

button {
	cursor: pointer;
	user-select: none;
	background-color: transparent;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

a {
	user-select: none;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: rgb(128, 128, 128);
		border: 1px solid rgb(128, 128, 128);
	}

	&:focus,
	&:active {
		outline: none;
	}

	&:visited {
		text-decoration: none;
	}
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

sup {
	color: inherit;
}
